#row2 {
  background-color: grey;
  height:100px;

}

@media screen and (min-width: 0px) {
  #row2 {
    height:300px;
  }
}

@media screen and (min-width: 375px) {
  #row2 {
    height:200px;
  }
}

@media screen and (min-width: 1024px) {
  #row2 {
    height:100px;
  }
}
